@import url("https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Libre+Baskerville|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/** Variables **/
/** gutters reset **/
@import url("https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Libre+Baskerville|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
.row, .container-fluid {
  padding: 0;
  margin: 0; }

/** typography **/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  background-image: linear-gradient(to right, #D1CDCC, #C37E5E);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; }

h2 {
  font-family: "Dancing Script", cursive;
  color: white; }

h4 {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Playfair Display", serif; }

ul, li, a {
  cursor: pointer;
  list-style-type: none; }

a {
  color: white; }

a:hover {
  color: #3d545f;
  transition: .4s ease;
  text-decoration: none; }

a:active {
  color: #C37E5E; }

.active {
  color: #C37E5E; }

/** Header **/
.headbar {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 2;
  background-color: black; }
  .headbar img {
    height: 70px;
    width: 70px;
    object-fit: contain; }
  .headbar .title {
    text-align: left;
    line-height: 75px; }

.navbar {
  line-height: 55px;
  font-family: "Libre Baskerville", serif;
  font-size: .7em;
  margin: 0;
  padding-right: 20px; }

/** hamburger menu sticky **/
.hamburger {
  display: block;
  position: fixed;
  top: 22px;
  right: 30px;
  z-index: 10; }
  .hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    width: 30px;
    height: 1px;
    background-color: #C37E5E;
    margin: 6px 0;
    transition: 0.4s; }

.hamburger:hover .bar1, .hamburger:hover .bar2, .hamburger:hover .bar3 {
  background-color: #3d545f; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 9px); }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(6px, 8px);
  transform: rotate(45deg) translate(0px, -5px); }

/** Collapsing menu for mobile and tablets **/
#collapse-menu {
  position: fixed;
  overflow: hidden;
  z-index: 3;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  text-align: center; }
  #collapse-menu .col-sm-4 {
    background-image: radial-gradient(#344550 50%, #292828);
    min-height: 100vh;
    max-height: 100vh; }
  #collapse-menu img {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-top: 100px; }
  #collapse-menu ul {
    margin: 60px auto 0;
    padding: 0px; }
  #collapse-menu li {
    color: #C37E5E;
    margin: 70px 0; }
  #collapse-menu li:hover {
    color: #3d545f;
    text-decoration: none;
    transition: .6s ease; }

/** Footer **/
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: .6em;
  font-family: "Playfair Display", serif; }
  .footer .fab {
    font-size: 1.2em;
    padding: 5px 10px; }
  .footer .fb {
    text-align: left; }
  .footer .ig {
    text-align: right; }
  .footer p:nth-last-child(1) {
    font-style: italic;
    font-size: .8em;
    margin-bottom: 5px; }
  .footer .row > .col-12 > a {
    display: block;
    padding: 0 20%; }
  .footer a {
    display: block;
    padding: 0; }
  .footer a:hover {
    color: #C37E5E;
    transition: linear .4s; }

/** Section 1 **/
.main-image {
  padding: 0;
  width: 100%;
  height: 600px; }
  .main-image img {
    width: inherit;
    height: inherit;
    object-fit: cover; }
  .main-image h2 {
    width: inherit;
    text-align: center;
    padding: 0 100px;
    position: absolute;
    top: 40px;
    font-size: 2.3em; }
  .main-image .btn-group-vertical {
    bottom: 150px;
    padding: 0 25%;
    opacity: .9; }
  .main-image .btn-primary {
    border: none;
    border-radius: 0px;
    background-color: #3d545f;
    font-size: .8em;
    font-family: "Libre Baskerville", serif;
    text-transform: capitalize;
    margin: 2px 0; }

/** Section 2 **/
.paragraphs {
  text-align: center;
  padding: 30px 20%;
  font-size: 1.1em; }

/** Section 3 **/
.carousel {
  padding: 0; }
  .carousel .multi-item-carousel {
    height: 300px;
    overflow: hidden; }
    .carousel .multi-item-carousel img {
      height: 300px;
      object-fit: cover; }
    .carousel .multi-item-carousel .carousel-control-prev, .carousel .multi-item-carousel .carousel-control-next {
      width: 15%; }
    .carousel .multi-item-carousel .carousel-caption {
      position: inherit;
      transform: translate(0px, -163px);
      -moz-transform: translate(0px, -163px);
      padding: 0; }
    .carousel .multi-item-carousel h4 {
      text-transform: uppercase;
      font-size: .8em;
      color: white;
      background-color: #243035;
      opacity: .8;
      margin: 0 auto;
      padding: 2px 10px;
      display: inline-block;
      max-width: 50%; }

/** Section 4 **/
.right {
  padding: 0; }

.call {
  height: 300px;
  text-align: center;
  padding: 0 10px; }
  .call h4 {
    background-color: #A7776A;
    height: inherit;
    line-height: 20px;
    font-size: .5em;
    padding: 40% 20%; }
    .call h4 a {
      display: block;
      color: black;
      font-weight: bold;
      font-size: 1.2em;
      padding-top: 10px; }
    .call h4 a:hover {
      color: #3d545f;
      font-weight: bold; }

/** Section 5 **/
.newsletter {
  padding: 0;
  height: 300px; }
  .newsletter img {
    width: 100%;
    height: inherit;
    object-fit: cover; }
  .newsletter .sign-up {
    display: block;
    text-align: center;
    position: absolute;
    top: 105px;
    font-family: "Playfair Display", serif;
    font-size: .9em;
    color: white; }
    .newsletter .sign-up form {
      border: 2px solid white;
      margin-top: 10px;
      display: inline-block; }
      .newsletter .sign-up form input {
        border: none;
        background-color: transparent; }
      .newsletter .sign-up form input[type=submit] {
        -webkit-appearance: none;
        cursor: pointer;
        border-left: 1px solid white;
        color: white; }
      .newsletter .sign-up form input[type=submit]:hover {
        color: #243035;
        transition: .4s ease; }
      .newsletter .sign-up form input[type=text] {
        opacity: .8;
        padding-left: 5px;
        color: white; }
      .newsletter .sign-up form ::placeholder {
        color: white;
        opacity: .8;
        padding-left: 5px; }

/** Variables **/
/** gutters reset **/
.row, .container-fluid {
  padding: 0;
  margin: 0; }

/** typography **/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  background-image: linear-gradient(to right, #D1CDCC, #C37E5E);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text; }

h2 {
  font-family: "Dancing Script", cursive;
  color: white; }

h4 {
  font-family: "Roboto", sans-serif; }

p {
  font-family: "Playfair Display", serif; }

ul, li, a {
  cursor: pointer;
  list-style-type: none; }

a {
  color: white; }

a:hover {
  color: #3d545f;
  transition: .4s ease;
  text-decoration: none; }

a:active {
  color: #C37E5E; }

.active {
  color: #C37E5E; }

/** Header **/
.headbar {
  position: sticky;
  top: 0;
  height: 70px;
  z-index: 2;
  background-color: black; }
  .headbar img {
    height: 70px;
    width: 70px;
    object-fit: contain; }
  .headbar .title {
    text-align: left;
    line-height: 75px; }

.navbar {
  line-height: 55px;
  font-family: "Libre Baskerville", serif;
  font-size: .7em;
  margin: 0;
  padding-right: 20px; }

/** hamburger menu sticky **/
.hamburger {
  display: block;
  position: fixed;
  top: 22px;
  right: 30px;
  z-index: 10; }
  .hamburger .bar1, .hamburger .bar2, .hamburger .bar3 {
    width: 30px;
    height: 1px;
    background-color: #C37E5E;
    margin: 6px 0;
    transition: 0.4s; }

.hamburger:hover .bar1, .hamburger:hover .bar2, .hamburger:hover .bar3 {
  background-color: #3d545f; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-5px, 9px); }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(6px, 8px);
  transform: rotate(45deg) translate(0px, -5px); }

/** Collapsing menu for mobile and tablets **/
#collapse-menu {
  position: fixed;
  overflow: hidden;
  z-index: 3;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  text-align: center; }
  #collapse-menu .col-sm-4 {
    background-image: radial-gradient(#344550 50%, #292828);
    min-height: 100vh;
    max-height: 100vh; }
  #collapse-menu img {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-top: 100px; }
  #collapse-menu ul {
    margin: 60px auto 0;
    padding: 0px; }
  #collapse-menu li {
    color: #C37E5E;
    margin: 70px 0; }
  #collapse-menu li:hover {
    color: #3d545f;
    text-decoration: none;
    transition: .6s ease; }

/** Footer **/
.footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-top: 10px;
  font-size: .6em;
  font-family: "Playfair Display", serif; }
  .footer .fab {
    font-size: 1.2em;
    padding: 5px 10px; }
  .footer .fb {
    text-align: left; }
  .footer .ig {
    text-align: right; }
  .footer p:nth-last-child(1) {
    font-style: italic;
    font-size: .8em;
    margin-bottom: 5px; }
  .footer .row > .col-12 > a {
    display: block;
    padding: 0 20%; }
  .footer a {
    display: block;
    padding: 0; }
  .footer a:hover {
    color: #C37E5E;
    transition: linear .4s; }

.accordion {
  width: 100%;
  height: 300px;
  overflow: hidden;
  padding: 10px;
  text-align: center; }
  .accordion .image-title {
    width: inherit;
    height: 300px; }
  .accordion img {
    width: 100%;
    height: 300px;
    object-fit: cover; }
  .accordion h4 {
    display: inline;
    position: relative;
    bottom: 300px;
    line-height: 300px;
    color: white;
    background-color: #243035;
    font-size: .8em;
    text-transform: uppercase;
    opacity: .8;
    padding: 2px 10px; }
  .accordion .description {
    height: inherit;
    background-color: #A7776A;
    width: 0%;
    visibility: collapse; }
    .accordion .description p {
      line-height: 30px;
      padding: 3% 10%;
      margin: 0;
      min-height: 70%;
      max-height: 80%;
      overflow: auto;
      color: #243035; }
    .accordion .description .btn-light {
      display: inline;
      padding: 5px;
      border: 2px solid #dee2e6;
      font-family: "Dancing Script", cursive;
      color: #dee2e6;
      background-color: transparent;
      text-transform: uppercase; }
    .accordion .description .btn-light:hover {
      border: #243035;
      background-color: #243035; }

.right {
  float: right; }

.left {
  float: left; }

.accordion:hover .image-title {
  width: 30%;
  transition: .4s ease-in-out; }
.accordion:hover h4 {
  display: none; }
.accordion:hover .description {
  visibility: visible;
  width: 70%;
  transition: .4s ease-in-out; }

.gallery {
  width: 100%; }
  .gallery th {
    width: 16.66666666%;
    position: relative;
    float: left;
    border: 5px solid; }
  .gallery th:after {
    content: '';
    display: block;
    margin-top: 100%; }
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

.gallery-title {
  position: fixed;
  top: 70px;
  z-index: 2;
  text-align: center;
  padding: 10px;
  background-color: white;
  opacity: .8; }
  .gallery-title h2 {
    color: #243035;
    font-size: 1.2em; }

.modal-body {
  background-color: #D1CDCC;
  box-shadow: 0 0 30px 10px;
  padding: 10px; }
  .modal-body span {
    display: none; }
  .modal-body .img-fluid {
    height: 100%; }

/** Media Queries **/
/** for mobiles and tablets **/
@media screen and (max-width: 992px) {
  .no-mobile {
    display: none; }

  .headbar .title {
    text-align: center; }

  .call {
    height: 100px;
    padding: 0px; }
    .call h4 {
      line-height: 10px;
      font-size: .5em;
      padding: 20px 55px; }
      .call h4 a {
        font-size: 1.2em;
        line-height: 12px;
        padding: 0; }

  .newsletter {
    height: 200px; }
    .newsletter .sign-up {
      top: 70px;
      font-size: .7em; }

  .accordion {
    height: fit-content; }
    .accordion .description {
      width: 100%;
      visibility: collapse;
      height: 0; }

  .right, .left {
    float: none; }

  .accordion:hover .image-title {
    width: 100%; }
  .accordion:hover h4 {
    display: inline; }
  .accordion:hover .description {
    width: 100%;
    height: fit-content;
    padding-bottom: 3%;
    visibility: visible; }

  .gallery th {
    width: 33.333333333%; }

  .footer {
    margin-top: 0; } }
/** for desktop **/
@media screen and (min-width: 992px) {
  .no-desktop {
    display: none; } }
/** for small mobiles **/
@media screen and (max-width: 425px) {
  #collapse-menu li {
    margin: 40px 0; }

  .main-image {
    height: 300px; }
    .main-image h2 {
      font-size: 1.4em;
      height: inherit;
      top: 0px;
      padding: 20px;
      background-color: rgba(66, 60, 53, 0.1); }
    .main-image .btn-group-vertical {
      font-size: .5em;
      bottom: 86px;
      padding: 0;
      font-size: .8em; }

  .sign-up {
    padding: 0 30px; }

  .paragraphs {
    padding: 20px 50px; }

  .accordion:hover .description {
    padding-bottom: 8%; }

  .gallery th {
    width: 50%; }

  .gallery-title h2 {
    font-size: 1em; } }
@media screen and (max-width: 375px) {
  .headbar .title {
    font-size: .9em;
    padding-right: 0px; }
  .headbar img {
    width: 55px; }

  .change .bar1, .change .bar3 {
    right: 20px; }

  .hamburger {
    right: 20px; } }

/*# sourceMappingURL=styles.css.map */
