@import url("https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Libre+Baskerville|Playfair+Display|Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
/** Elelements base settings **/
body, .container-fluid, .row, section {
  margin: 0;
  padding: 0;
  width: 100%; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  text-align: center;
  padding: 0;
  height: 100%; }

ul, li, a, i {
  font-family: "Libre Baskerville", serif;
  list-style-type: none;
  text-decoration: none;
  text-transform: capitalize;
  cursor: pointer;
  margin: 0;
  padding: 0; }

a:hover, i:hover {
  color: #C37E5E;
  text-decoration: none;
  transition: .4s ease; }

h1, h2, h3, h4, h5, h6, p, img {
  margin: 0;
  padding: 0;
  display: inline-block; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
  font-weight: 100;
  text-transform: uppercase; }

h2 {
  font-family: "Dancing Script", cursive;
  font-size: 1.5em;
  font-weight: 100;
  color: white; }

h4 {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: .5em;
  font-weight: 400; }

p {
  font-family: "Playfair Display", serif;
  padding: 25px;
  font-size: .9em; }

/** collapsing menu **/
#collapse-menu {
  position: fixed;
  overflow: hidden;
  z-index: 10;
  align-items: stretch; }
  #collapse-menu .col-sm-4 {
    background-color: #FCE6CB;
    min-height: 100vh;
    max-height: 100vh; }
  #collapse-menu img {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding-top: 100px; }
  #collapse-menu ul {
    margin: 60px auto 0; }
  #collapse-menu li {
    color: #C37E5E;
    font-size: 1.5em;
    font-weight: lighter;
    margin: 20px 0;
    text-align: center; }
  #collapse-menu li:hover {
    color: #3d545f;
    text-decoration: none;
    transition: .6s ease; }

/** Head bar **/
header {
  height: 70px;
  background-color: black; }
  header img {
    height: 38px;
    margin-top: 10px;
    margin-left: 10px; }
  header h1 {
    color: #C37E5E;
    text-align: center;
    margin-top: 22px;
    padding-left: 15px;
    background-image: linear-gradient(to right, #D1CDCC, #C37E5E);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text; }

.desktop-menu ul {
  text-align: right;
  margin-top: 20px; }
.desktop-menu li {
  display: inline-block;
  padding: 0 46px;
  font-size: .6em; }
.desktop-menu li:hover {
  color: #C37E5E;
  text-decoration: underline;
  transition: .4s ease; }
.desktop-menu a {
  color: white; }

/** hamburger icon **/
.container-hamburger {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100; }
  .container-hamburger .bar1, .container-hamburger .bar2, .container-hamburger .bar3 {
    width: 30px;
    height: 1px;
    background-color: #C37E5E;
    margin: 6px 0;
    transition: 0.4s; }

.container-hamburger:hover .bar1 {
  background-color: #3d545f; }
.container-hamburger:hover .bar2 {
  background-color: #3d545f; }
.container-hamburger:hover .bar3 {
  background-color: #3d545f; }

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  position: fixed;
  top: 18px;
  right: 20px; }
.change .bar2 {
  opacity: 0; }
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(6px, 8px);
  transform: rotate(45deg) translate(6px, 8px);
  position: fixed;
  top: 18px;
  right: 20px; }

/** Section 1 **/
.section1 .row {
  height: 400px; }
.section1 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center; }
.section1 h2 {
  position: relative;
  bottom: 400px;
  padding: 10px 40px;
  text-align: center;
  letter-spacing: 1px; }
.section1 .btn-group-vertical {
  width: 100%;
  margin: 0 auto;
  padding: 0 10%;
  position: relative;
  bottom: 260.9px;
  opacity: .9; }
.section1 .btn-primary {
  border: none;
  border-radius: 0px;
  background-color: #3d545f;
  font-size: .7em;
  margin: 2px 0; }

/** Section 3 Carousel **/
.section3 {
  width: 100%; }

.carousel {
  height: 300px; }

.carousel-inner {
  height: 300px; }

.carousel-item {
  height: 200px; }

.carousel-item img {
  width: 100%;
  height: 300px;
  object-fit: cover; }

.dark, .light {
  font-size: .9em;
  color: white;
  background-color: #3d545f;
  opacity: .8; }

/** Section 4 **/
.section4 {
  background-color: #A7776A; }
  .section4 h4 {
    font-size: .6em;
    padding: 25px; }
    .section4 h4 a {
      font-family: "Roboto", sans-serif;
      color: black;
      font-weight: bold;
      font-size: 1.2em; }
    .section4 h4 a:hover {
      color: #3d545f;
      font-weight: bold; }

/** Section 5 Form **/
.section5 .row {
  height: 300px; }
.section5 img {
  width: 100%;
  height: 300px;
  object-fit: cover; }
.section5 .sign-up {
  position: relative;
  bottom: 300px;
  padding: 80px 0; }
  .section5 .sign-up p {
    color: white;
    font-size: 4vw;
    padding-bottom: 5px; }
  .section5 .sign-up form {
    border: 2px solid white;
    margin: 0 40px;
    display: inline-block; }
    .section5 .sign-up form input {
      border: none;
      background-color: transparent;
      color: white;
      font-family: "Libre Baskerville", serif;
      font-size: 4vw; }
    .section5 .sign-up form input[type=submit] {
      -webkit-appearance: none;
      cursor: pointer;
      border-left: 1px solid white; }
    .section5 .sign-up form input[type=submit]:hover {
      color: #243035; }
    .section5 .sign-up form input[type=text] {
      opacity: .8;
      padding-left: 5px; }
    .section5 .sign-up form ::placeholder {
      color: white;
      opacity: .8;
      padding-left: 5px; }

/** Footer **/
.footer {
  background-color: black;
  padding: 10px; }
  .footer .col-12, .footer .col-6 {
    height: 15px; }
  .footer a, .footer p {
    color: white;
    display: inline-block;
    padding: 0; }
  .footer a {
    font-size: .5em;
    text-transform: lowercase;
    vertical-align: text-top; }
  .footer p {
    font-size: .4em;
    font-style: italic;
    vertical-align: middle; }
  .footer #facebook {
    text-align: right;
    padding-right: 10px; }
  .footer #instagram {
    text-align: left;
    padding-left: 10px; }

/** Media Queries **/
@media screen and (min-width: 992px) {
  .desktop {
    display: none; }

  header h1 {
    font-size: 1.6em;
    margin-top: 23px; }
  header .col-lg-5 {
    text-align: left; } }

/*# sourceMappingURL=styles.css.map */
