@import url('https://fonts.googleapis.com/css?family=Bad+Script|Dancing+Script|Libre+Baskerville|Playfair+Display|Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$menu:'Libre Baskerville', serif;
$h2: 'Bad Script', cursive;
$h3:'Dancing Script', cursive;
$paragraphs: 'Playfair Display', serif;
$h4: 'Roboto', sans-serif;
$h1: 'Montserrat', sans-serif;
$color1:#C37E5E;
$color2:#D1CDCC;
$color3:black;
$color4:#FCE6CB;
$color5:#3d545f;
$color6:#A7776A;
$color7:#243035;
$color8:white;
$screen-md:992px;
$screen-sm:768px;
$screen-lg:1200px;
$screen-xs:320px;

/** Elelements base settings **/
body, .container-fluid,.row,section{
    margin:0;
    padding:0;
    width:100%;
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-10,.col-11,.col-12{
    text-align:center;
    padding: 0;
    height:100%;
}
ul,li, a, i{
    font-family: $menu;
    list-style-type: none;
    text-decoration: none;
    text-transform: capitalize;
    cursor: pointer;
    margin:0;
    padding:0;
}
a:hover, i:hover{
    color:$color1;
    text-decoration: none;
    transition: .4s ease;
}
h1,h2,h3,h4,h5,h6,p,img{
    margin:0;
    padding:0;
    display:inline-block;
}
h1{
    font-family: $h1;
    font-size: 1.1em;
    font-weight: 100;
    text-transform: uppercase;
}
h2{
    font-family: $h3;
    font-size:1.5em;
    font-weight: 100;
    color: $color8;
}
h4{
    font-family: $h4;
    text-transform: uppercase;
    letter-spacing: .5em;
    font-weight: 400;
}

p{
    font-family: $paragraphs;
    padding: 25px;
    font-size: .9em;
}
/** collapsing menu **/
#collapse-menu{
    position: fixed;
    overflow: hidden;
    z-index:10;
    align-items: stretch;
    .col-sm-4{
        background-color:$color4;
        min-height:100vh;
        max-height:100vh;
    }
    img{
        display:block;
        margin:0 auto;
        width:150px;
        padding-top:100px;
    }
    ul{
        margin:60px auto 0;
    }
    li{
        color: $color1;
        font-size: 1.5em;
        font-weight: lighter;
        margin:20px 0;
        text-align: center;
    }
    li:hover{
        color: $color5;
        text-decoration: none;
        transition:.6s ease;
    }
}
/** Head bar **/
header{
    height:70px;
    background-color: $color3;
    img{
        height:38px;
        margin-top:10px;
        margin-left:10px;
    }
    h1{
        color: $color1;
        text-align: center;
        margin-top: 22px;
        padding-left: 15px;
        background-image:linear-gradient(to right, $color2, $color1);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }
}
.desktop-menu {
    ul{
        text-align: right;
        margin-top:20px;
    }
    li{
        display: inline-block;
        padding: 0 46px;
        font-size: .6em;
    }
    li:hover {
        color: $color1;
        text-decoration: underline;
        transition:.4s ease;
    }
    a{
        color: $color8;
    }
}
/** hamburger icon **/
.container-hamburger{
    display: inline-block;
    cursor: pointer;
    position:absolute;
    top:20px;
    right:20px;
    z-index:100;
    .bar1, .bar2, .bar3{
        width: 30px;
        height:1px;
        background-color: $color1;
        margin: 6px 0;
        transition: 0.4s;
    }
}
.container-hamburger:hover{
    .bar1{
        background-color:$color5;
    }
    .bar2{
        background-color:$color5;
    }
    .bar3{
        background-color:$color5;
    }
}
.change{
    .bar1{
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    position: fixed;
    top:18px;
    right:20px;
    }
    .bar2 {
    opacity: 0;
    }
    .bar3 {
    -webkit-transform: rotate(45deg) translate(6px, 8px) ;
    transform: rotate(45deg) translate(6px, 8px) ;
    position: fixed;
    top:18px;
    right:20px;
    }
}
/** Section 1 **/
.section1 {
    .row{
        height:400px;
    }
    img{
    width:100%;
    height:400px;
    object-fit:cover;
    object-position: center;
    }
    h2{
        position:relative;
        bottom:400px;
        padding: 10px 40px;
        text-align: center;
        letter-spacing: 1px;
    }
    .btn-group-vertical{
        width: 100%;
        margin: 0 auto;
        padding: 0 10%;
        position:relative;
        bottom:260.9px;
        opacity:.9;
    }
    .btn-primary{
        border:none;
        border-radius: 0px;
        background-color:$color5;
        font-size: .7em;
        margin: 2px 0;
    }
}
/** Section 3 Carousel **/
.section3{
    width:100%
  }
.carousel{
    height:300px;
    }
.carousel-inner{
     height:300px;
   }
.carousel-item{
    height:200px;
  }
.carousel-item img{
    width:100%;
    height:300px;
    object-fit:cover;
  }
.dark, .light{
    font-size:.9em;
    color: $color8;
    background-color: $color5;
    opacity:.8;
}

/** Section 4 **/
.section4{
    background-color:$color6;
    h4{
        font-size:.6em;
        padding:25px;
    a{
        font-family:$h4;
        color: $color3;
        font-weight:bold;
        font-size:1.2em;
    }
    a:hover{
        color: $color5;
        font-weight: bold;
    }
}
}
/** Section 5 Form **/ 
.section5{
    .row{
        height:300px;
    }
    img{
        width:100%;
        height: 300px;
        object-fit:cover;
    }
    .sign-up{
        position:relative;
        bottom:300px;
        padding:80px 0;
        p{
            color:$color8;
            font-size:4vw;
            padding-bottom:5px;
        }
        form{
            border:2px solid $color8;
            margin:0 40px;
            display:inline-block;
            input{
                border:none;
                background-color:transparent;
                color:$color8;
                font-family:$menu;
                font-size:4vw;
            }
            input[type=submit]{
                -webkit-appearance: none;
                cursor: pointer;
                border-left:1px solid $color8;
            }
            input[type=submit]:hover{
                color:$color7;
            }
            input[type=text]{
                opacity:.8;
                padding-left: 5px;
            }
            ::placeholder{
                color:$color8;
                opacity:.8;
                padding-left:5px;
            }
        }
    }
}
/** Footer **/ 
.footer{
    background-color:$color3;
    padding:10px;
    .col-12, .col-6{
        height:15px;
    }
    a, p{
        color:$color8;
        display:inline-block;
        padding:0;
    }
    a{
        font-size:.5em;
        text-transform: lowercase;
        vertical-align:text-top;
    }
    p{
        font-size:.4em;
        font-style:italic;
        vertical-align:middle;
    }
    #facebook{
        text-align: right;
        padding-right:10px;
    }
    #instagram{
        text-align: left;
        padding-left:10px;
    }

}
/** Media Queries **/
@media screen and (min-width:$screen-md){
    .desktop{
        display:none;
    }

header{
     h1{
        font-size:1.6em;
        margin-top:23px;
    }
    .col-lg-5{
        text-align: left;
    }
}
}


